.App {
  font-family: arial;
  font-size: 16px;
  align-items: center;
  margin-left: 35%;
  margin-right: 30%;
  background-color: bisque;
  padding: 10px;
  border: 1px solid black;
  width: 400px;
}

.todo-item {
  border: solid;
  border-width: 2px;
  width: 95%;
  border-radius: 10px;
}

.todo-item p {
  margin: 10px;
  overflow: auto;
  text-align: left;
  width: 90%;
}

.todo-item button {
  color: white;
  background-color: red;
}

.filter p {
  display: inline-block;
  margin-right: 20px;
}

button {
  font-size: 16px;
  margin: 5px;
  border-radius: 10px;
  padding: 5px 10px;
}

.done {
  background-color: green;
  color: white;
  border-color: black;
}

.add-todo {
  height: 30px;
  width: 97%;
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}

.left {
  width: 5%;
}
.middle {
  width: 85%;
}
.right {
  width: 10%;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
}

td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
td:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.filter-choose {
  color: white;
  background-color: seagreen;
}
